@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Inter", sans-serif;
}

@font-face {
  font-family: "CabinetGrotesk-Bold";
  src: url(../../fonts/CabinetGrotesk-Bold.ttf);
}
@font-face {
  font-family: "SF-Pro-Display-Semibold";
  src: url(../../fonts/SF-Pro-Display-Semibold.otf);
}
body {
  display: grid;
  grid-template-rows: minmax(90px, auto) minmax(6874px, auto) minmax(512px, auto);
  overflow-x: hidden;
}

main {
  display: grid;
  grid-template-rows: minmax(971px, auto) minmax(578px, auto) minmax(570px, auto) minmax(1326px, auto) minmax(570px, auto) minmax(514px, auto) minmax(570px, auto) minmax(804px, auto);
}

.header {
  background-color: #FFF5F7;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}

.nav {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.nav_list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav_list li {
  padding: 5px 10px;
  border-radius: 30px;
  transition: background-color 0.3s;
}

.nav_list li:hover {
  cursor: pointer;
  color: #FFE1E8;
  background-color: #FFE1E8;
  color: #EE1C47;
}

.nav_profile {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.nav_profile:hover {
  padding: 5px 10px;
  background-color: white;
  border-radius: 16px;
}

.nav_button {
  padding: 20px 25px;
  background-color: #EE1C47;
  color: white;
  border-radius: 16px;
  cursor: pointer;
}

.nav_button:hover {
  padding: 20px 25px;
  background-color: white;
  color: #EE1C47;
  border-radius: 16px;
  cursor: pointer;
}

.nav_profile_button {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media (max-width: 1300px) {
  .nav_profile {
    display: none;
  }
}
.build_section {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #fff5f7;
  padding-top: 214px;
  padding-bottom: 198px;
  overflow-x: hidden;
}

.build_section_main {
  width: 80%;
}

.build_section_main_text {
  color: #09153d;
  font-size: 60px;
  font-weight: 800;
}

.build_section_secondary_text {
  color: #676c7b;
  font-size: 16px;
  font-weight: 400;
  padding-top: 20px;
}

.rating {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
}

.rating_name {
  color: #09153d;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  gap: 5px;
}

.rating_comment {
  color: #676c7b;
  font-size: 16px;
  padding-top: 7px;
}

.rating_img {
  padding-top: 25px;
}

.phone_number {
  font-size: 16px;
  font-weight: 700;
  color: #ee1c47;
  padding-top: 70px;
}

.phone_comment {
  color: #676c7b;
  font-weight: 500;
  font-size: 12px;
  padding-top: 10px;
}

.main_img {
  position: absolute;
  z-index: 2;
  top: 160px;
  left: 38%;
}

.build_section_number {
  font-size: 48px;
  font-weight: 700;
}

.build_section_info {
  font-size: 16px;
  font-weight: 400;
  color: #676c7b;
}

.build_section_listings {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  z-index: 3;
  top: 296px;
  left: 85%;
}

.build_section_places {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  z-index: 3;
  top: 451px;
  left: 83%;
}

.build_section_people {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  z-index: 3;
  top: 606px;
  left: 84%;
}

.explore {
  width: 1230px;
  height: 150px;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  z-index: 5;
  top: 860px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 13px 13px 50px #e8c7d6, -13px -13px 50px #ffefff;
}

.explore_categories {
  width: 190px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.explore_categories_img {
  position: absolute;
  left: 3%;
  cursor: pointer;
}

.explore_categories_title {
  color: #676c7b;
  font-size: 14px;
  cursor: pointer;
}

.explore_categories_choose {
  color: #09153d;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.explore_location_img {
  position: absolute;
  left: 25%;
  cursor: pointer;
}

.explore_pricing_img {
  position: absolute;
  left: 46.5%;
  cursor: pointer;
}

.explore_buttom {
  padding: 20px 25px;
  background-color: #ee1c47;
  border-radius: 20px;
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
}

.explore_buttom:hover {
  background-color: #ffe1e8;
  color: #ee1c47;
  cursor: pointer;
}

.test {
  background-color: rgba(255, 255, 255, 0.5);
  width: 1290px;
  height: 210px;
  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow: 13px 13px 50px #c1c1c1, -13px -13px 50px #ffffff;
  position: absolute;
  z-index: 4;
  top: 830px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 1350px) {
  .main_img {
    width: 500px;
  }
}
@media (max-width: 1250px) {
  .main_img {
    width: 400px;
    position: absolute;
    z-index: 2;
    top: 160px;
    left: 55%;
  }
  .build_section_listings {
    display: none;
  }
  .build_section_people {
    display: none;
  }
  .build_section_places {
    display: none;
  }
}
.category_section {
  background-color: blueviolet;
  height: 100%;
}

.deals_section {
  background-image: url("../../image/main_img/3_deals_section/city_background.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.deals_section .box_shadow {
  background-color: rgba(0, 0, 0, 0.66);
  height: 100%;
  z-index: -20;
}
.deals_section .box_shadow .deals_section_desc {
  width: 100%;
}
.deals_section .box_shadow .deals_section_desc .deals_section_text {
  font-family: "SF-Pro-Display-Semibold", sans-serif;
  max-width: 690px;
  font-weight: 800;
  font-size: 48px;
  line-height: 125%;
  color: #fff;
  opacity: 1;
}
.deals_section .box_shadow .deals_section_desc .deals_section_btn {
  position: absolute;
  border-radius: 16px;
  padding: 20px 25px;
  width: 148px;
  height: 59px;
  background-color: #f50435;
  color: #FFFFFF;
  opacity: 1;
}

.available_section {
  background-color: red;
  height: 100%;
}

.get_our_monthly_section {
  background-color: rgb(76, 255, 5);
  height: 100%;
}

.how_it_works_section {
  background-color: blue;
}

.users_feedbacks_section {
  background-color: rgb(5, 161, 5);
}

.latest_blogs_section {
  background-color: rgba(128, 128, 128, 0.062);
}

.latest_blog_div1 {
  width: 100vw;
  position: relative;
}
.latest_blog_div1 img {
  position: absolute;
  padding-left: 755px;
  margin-top: -14px;
}

.Latest_blogs {
  font-size: 48px;
  text-align: center;
  padding-top: 120px;
}

.latest_blog_grid {
  height: 574px;
  display: grid;
  padding-top: 50px;
  grid-template-columns: 410px 410px 410px;
  grid-template-rows: 1fr;
  gap: 0px 30px;
  grid-template-areas: ". . .";
  justify-content: center;
}
.latest_blog_grid .latest_blog_block1 {
  width: 410px;
  height: 540px;
  border-radius: 24px;
}
.latest_blog_grid .latest_blog_block1 img {
  width: 486px;
  height: 320px;
  margin-left: -39px;
  margin-top: -5px;
}
.latest_blog_grid .latest_blog_block1 .latest_blog_p {
  font-size: 20px;
  padding-top: 24px;
  padding-left: 30px;
  padding-bottom: 8px;
}
.latest_blog_grid .latest_blog_block1 .latest_blog_p2 {
  padding-left: 30px;
  font-size: 16px;
  color: #676C7B;
  padding-top: 10px;
  padding-right: 20px;
}
.latest_blog_grid .latest_blog_block1 .latest_blog_p3 {
  padding-left: 30px;
  padding-top: 24px;
  font-size: 14px;
  color: rgb(90, 88, 88);
}
.latest_blog_grid .latest_blog_block1 .latest_blog_p3 span {
  color: #FF823A;
}
.latest_blog_grid .latest_blog_block1 .latest_blog_block_img23 {
  width: 550px;
  height: 405px;
  margin-top: -38px;
  margin-left: -70px;
}
.latest_blog_grid .latest_blog_block1 .latest_blog_block_img2 {
  width: 550px;
  height: 388px;
  margin-top: -38px;
  margin-left: -70px;
}
.latest_blog_grid .latest_blog_block1 .latest_blog_pp {
  font-size: 20px;
  margin-top: -10px;
  padding-left: 30px;
  padding-bottom: 8px;
}
.latest_blog_grid .latest_blog_block1 .latest_blog_pp2 {
  font-size: 20px;
  margin-top: -28px;
  padding-left: 30px;
  padding-bottom: 8px;
}

.footer {
  background-color: #09153D;
  color: white;
}/*# sourceMappingURL=main.css.map */