$main-font-color: #09153D;
$descriptions-font-color: #676C7B;
$red-accent-color: #EE1C47;
$orange-accent-color: #FF823A;
$red-hover-header: #FFE1E8;

$font-family: "Inter", sans-serif;
$second-family: "SF-Pro-Display-Semibold", sans-serif;
$third-family: "CabinetGrotesk-Bold", sans-serif;