.deals_section {
    background-image: url("../image/main_img/3_deals_section/city_background.png");
    background-size: cover;
    background-repeat: no-repeat;


    .box_shadow {
        background-color: rgba(0, 0, 0, 0.66);
        height: 100%;
        z-index: -20;

        .deals_section_desc {
            width: 100%;

            .deals_section_text {
                font-family: $second-family;
                max-width: 690px;
                font-weight: 800;
                font-size: 48px;
                line-height: 125%;
                color: #fff;
                opacity: 1;
            }

            .deals_section_btn {
                position: absolute;
                border-radius: 16px;
                padding: 20px 25px;
                width: 148px;
                height: 59px;
                background-color: #f50435;
                color: #FFFFFF;
                opacity: 1;


            }
        }


    }
}