.footer {
    background-color: #000924;
    color: white;
}

.footer_main_text {
    display: flex;
    flex-direction: row;
    padding: 0 300px;
    padding-top: 130px;
    padding-bottom: 70px;
    justify-content: space-between;
}

.footer_main_list span {
    font-weight: 600;
}

.footer_main_list :first-child {
    padding-bottom: 10px;
}

.footer_main_list li {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 30px;
}

.footer_second_list :first-child {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 15px;
    color: white;
}

.footer_second_list li {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 30px;
}

.footer_last_text {
    width: 63%;
    display: flex;
    margin-left: 300px;
    padding-top: 47px;
    padding-bottom: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    justify-content: space-between;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 30px;
}

.footer_logo_icon :not(:last-child) {
    padding-right: 20px;
}