.get_our_monthly_section {
    margin-top: 120px;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: $main-font-color;

    .get_our_monthly_conteiner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;

        .our_monthly_text {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: white;
            background-image: url('../image/main_img/5_get_our_monthly_section/back_effect.png');

            .our_monthly_center {
                display: flex;
                flex-direction: column;
                margin: 0 auto;

                .decoration_text {
                    position: relative;

                    & h3 {
                        font-family: $font-family;
                        font-size: 48px;
                        font-weight: 800;
                        line-height: 60px;
                        color: $main-font-color;
                        max-width: 410px;
                        z-index: 2;
                    }

                    & img {
                        position: absolute;
                        max-width: 420px;
                        top: 107px;
                    }
                }



                .our_monthly_desc {
                    color: $descriptions-font-color;
                    font-family: $font-family;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 30px;
                    max-width: 550px;
                    margin-top: 30px;
                }

                & form {

                    .input_btn {
                        cursor: pointer;
                        border: 0px solid;
                        border-radius: 16px;
                        color: #FFFFFF;
                        background-color: $orange-accent-color;
                        padding-top: 20px;
                        padding-right: 25px;
                        padding-bottom: 20px;
                        padding-left: 25px;

                    }

                    & input {
                        outline: none;
                        margin-top: 30px;
                        border: 1px solid #FFFFFF;
                        border-radius: 16px;
                        padding: 20px 195px 20px 25px;
                    }

                }


            }



        }

        .our_monthly_player {
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url('../image/main_img/5_get_our_monthly_section/background_player.png');

            .scale-up-center {
                cursor: pointer;
                -webkit-animation: scale-up-center 1.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate-reverse both;
                animation: scale-up-center 1.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate-reverse both;

                @-webkit-keyframes scale-up-center {
                    0% {
                        -webkit-transform: scale(.9);
                        transform: scale(.9)
                    }

                    100% {
                        -webkit-transform: scale(1);
                        transform: scale(1)
                    }
                }

                @keyframes scale-up-center {
                    0% {
                        -webkit-transform: scale(.9);
                        transform: scale(.9)
                    }

                    100% {
                        -webkit-transform: scale(1);
                        transform: scale(1)
                    }
                }
            }
        }
    }
}
