.how_it_works_section {
    width: 80%;

    &_title {
        color: $main-font-color;
        text-align: center;
        font-family: $font-family ;
        font-size: 48px;
        line-height: 60px;
        font-weight: 800;
    }

    &_desc {
        color: $descriptions-font-color;
        font-size: 16px;
        text-align: center;
        line-height: 30px;
    }

}