.how_it_works_article {
    width: 90%;
    // height: 514px;
    margin: 0 auto;
    margin-top: 240px;
    margin-bottom: 120px;


    &_line_box {
        width: 423px;

        margin: 0 auto;
        position: relative;


    }

    &_title {
        color: $main-font-color;
        text-align: center;
        font-family: $font-family ;
        font-size: 48px;
        line-height: 60px;
        font-weight: 800;

    }

    &_line {
        position: absolute;
        left: 8px;
        top: -16px;
        z-index: -1;
    }

    &_desc {
        color: $descriptions-font-color;
        font-size: 16px;
        text-align: center;
        line-height: 30px;
        margin-top: 20px;
    }

    &_box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 50px;

        & div {
            margin-right: 30px;
        }

        & div:last-child {
            margin-right: 0;
        }
    }

    &_card {
        // display: grid;
        // place-items: center;
        width: 410px;
        height: 314px;
        border: none;
        border-radius: 24px;
        -webkit-box-shadow: 0px 0px 52px -39px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 52px -39px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 52px -39px rgba(0, 0, 0, 0.75);

        .card_img {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 60px 0 30px 0;
        }

        .card_title {
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
        }

        .card_desc {
            font-size: 16px;
            color: $descriptions-font-color;
            line-height: 28px;
            text-align: center;
            margin-top: 8px;
        }


    }

}