.latest_blogs_section {
    width: 100vw;
    background-color: rgba(128, 128, 128, 0.062);
    height: 1000px;

}

.latest_blog_div1 {
    width: 100vw;
    display: grid;
    justify-items: center;
}

.Latest_blogs {
    display: grid;
    display: flex;
    color: #09153D;
    font-size: 48px;
    text-align: center;
    padding-top: 80px;
    font-family: $font-family;
    padding-bottom: 51px;

}

.latest_blog_grid {

    width: 100vw;
    height: 500px;
    display: grid;
    padding-top: 30px;
    grid-template-columns: 410px 410px 410px;
    grid-template-rows: 1fr;
    gap: 0px 30px;
    grid-template-areas: ". . .";
    justify-content: center;


    .latest_blog_block1 {
        width: 410px;
        height: 540px;
        box-shadow:
            0.5px 3.1px 5.3px rgba(0, 0, 0, 0.008),
            1.6px 10.3px 17.9px rgba(0, 0, 0, 0.012),
            7px 46px 80px rgba(0, 0, 0, 0.02);
        border-radius: 24px;
        cursor: pointer;

        img {
            width: 486px;
            height: 320px;
            margin-left: -39px;
            margin-top: -5px;
        }


        .latest_blog_p {
            font-size: 20px;
            font-family: $font-family;
            color: #09153D;
            padding-top: 24px;
            padding-left: 30px;
            padding-bottom: 8px;
        }

        .latest_blog_p2 {
            padding-left: 30px;
            font-size: 16px;
            color: #676C7B;
            padding-top: 10px;
            padding-right: 20px;
        }

        .latest_blog_p3 {
            padding-left: 30px;
            padding-top: 24px;
            font-size: 14px;
            color: rgb(90, 88, 88);

            span {
                color: $orange-accent-color;
            }
        }

        .latest_blog_block_img23 {
            width: 550px;
            height: 405px;
            margin-top: -38px;
            margin-left: -70px;
        }

        .latest_blog_block_img2 {
            width: 550px;
            height: 388px;
            margin-top: -38px;
            margin-left: -70px;
        }

        .latest_blog_pp {
            font-size: 20px;
            color: #09153D;
            margin-top: -10px;
            padding-left: 30px;
            padding-bottom: 8px;
        }

        .latest_blog_pp2 {
            font-size: 20px;
            color: #09153D;
            margin-top: -28px;
            padding-left: 30px;
            padding-bottom: 8px;
        }
    }

    button {
        display: flex;
        color: white;
        width: 114px;
        height: 59px;
        outline: none;
        border: 1px solid white;
        background-color: $red-accent-color;
        border-radius: 16px;
        padding: 20px;
        justify-content: center;
        margin-left: 600px;
        margin-top: 60px;
        cursor: pointer;

        &:hover {
            background-color: rgb(209, 19, 19);

        }

    }


}