.users_feedbacks_section {
    display: flex;
    justify-content: center;
    background-color: #FF823A0D;
    align-items: center;

    .users_feedbacks_container {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;

        .users_feedbacks_main {
            .decoration_text_user {
                position: relative;

                & h3 {
                    color: $main-font-color;
                    font-size: 48px;
                    line-height: 60px;
                    font-family: $font-family;
                    z-index: 2;
                    font-weight: 800;
                }

                & img {
                    position: absolute;
                    top: 45px;
                    z-index: 1;

                }

            }

            & p {
                margin-top: 30px;
                max-width: 394px;
                color: $descriptions-font-color;
                font-size: 16px;
                line-height: 30px;
            }

            .arrows_skip {
                display: flex;
                margin-top: 64px;
                gap: 10px;


                .arrow_left {
                    &:hover {
                        background-color: $red-accent-color;

                        &:hover img {
                            -webkit-filter: grayscale(100) brightness(200);
                            filter: grayscale(100) brightness(200);
                        }
                    }

                    cursor: pointer;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;

                }

                .arrow_right {
                    &:hover {
                        background-color: $red-accent-color;

                        &:hover img {
                            -webkit-filter: grayscale(100) brightness(200);
                            filter: grayscale(100) brightness(200);
                        }
                    }

                    transform: rotate(180deg);

                    cursor: pointer;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;



                }
            }
        }


        .user_feedbacks_textblock {
            & p {
                margin-top: 30px;
                max-width: 514px;
                color: $descriptions-font-color;

            }

            .user_description {
                display: flex;
                align-items: center;
                position: relative;
                margin-top: 8px;

                & img {
                    position: absolute;
                    top: 20px;
                }

                & p {
                    margin-left: 58px;
                }


            }
        }
    }
}